$color-fondo: #FFF5E1;
$color-nav: #D2691E;
$color-texto: #D2B48C;
$color-titulo: #FFD700;
$color-footer: #FFE4B5;
$max-column: 12;
$i: 1;
$alinear: center;
$quitar-margen: 0%;
$quitar-link: none;
$logo-espana: 5rem;
$margenes-nav: 2rem;
$fuente: Lato;
